.FullScreenImageComponent {
  position: relative;
  width: 100%;
  height: 90vh;

  .innerContainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
  }
  .contentContainer {
    display: inline-block;
  }
}
