.BlogParagraphComponent {
  margin-top: 40px;
  .title {
    color: #333;
    line-height: 50px;
  }
  .text {
    font-weight: 300;
    line-height: 30px;
  }
  .quote {
    width: 100%;
    padding: 0 40px;
    font-size: 42px;
    font-weight: 200;
    font-style: italic;
  }
}
